.perfil{
    width:"278px";
    height:"278px";
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');

/*Aquí van las variables*/
:root {
    /* -- colors -- */
    --lightblue-color: #00BCD4;
    --dark-blue-color: #303F9F;
    --white-color: FFFFFF;
    --dark-grey: #54585a;
    --light-grey: #b8b8b9;
    --bg-grey: #f1f1f1;

    /* -- typo -- */
    --normal: 12px;
    /* space letter */
    --space: 10px;
    --space-2: 20px;
    /* box shadow */
    --box: 0px 0 2px 1px #E6E5E9;
}


body {
    background-color: var(--white-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-grey);
}

p {
    color: var(--dark-grey);
    font-family: font-family 'Open Sans', sans-serif;
    font-size: 16px;
}

#navbar-custom {
    background-color: var(--dark-blue-color);
}

.nav-float-right {
    float: right;
}

.navbar {
    height: 60px;

}

#navbarsExample03 {
    float: right;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.equipo {
    margin-top: 20px;
}

#equipo {
    margin-top: 15px;
}

.quote {
    width: 500px;
    margin-bottom:0;
}


footer {
    background-color: var(--dark-grey);
    
}

.linksfooter {
    color: var(--white-color);
}

#copyright {
    display: flex;
    color:var(--white-color);   
}

#two-columns {
    background-color: var(--bg-grey);
}

.subtitles {
    color: var(--dark-blue-color);
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    padding-top: 15px
}

h2 {
    color: var(--dark-grey);
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding-top: 20px

}